$body-color-dark: #212529 !default;
$body-bg-dark: #282828 !default;
$body-color-light: #282828 !default;
$body-bg-light: #f8f9fa !default;

[data-bs-theme="dark"] {
    Select {
        background-color: $body-color-dark !important;
    }
    background-color: $body-bg-dark 
}
[data-bs-theme="light"] {
    background-color: $body-bg-light;
    Select {
        background-color: $body-bg-light !important;
    }
    :root{
        background-color: $body-bg-light;
    }
    // .button-variant{
    //     background-color: $body-bg-light;
    //     color: $body-bg-light;
    // }
}