.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    /* background-color: rgba(0, 40, 190, 0.8); */
}
.nav-link{
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}